/* styles.css */
html, body {
    font-family: "Fira Code", monospace;
    background-color: #262626; /* Dark gray background */
    color: #D3D3D3; /* Light gray text */
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes up the full height */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures centering across devices */
    text-align: center; /* Center all text */
}

.centered-image {
    width: 45px; /* Adjust size as needed */
    height: 45px;
    margin-bottom: 20px; /* Space between image and text */
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
    line-height: 2;

}

